*,
*::before,
*::after{
   list-style-type: none;
   text-decoration: none;
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   max-width: 100vw;
 }


 /*scrool-bar area*/
::-webkit-scrollbar {
  width: 11px;   /* largura */
  height: 3px;  /* altura */
}

::-webkit-scrollbar-track {
  background: #1D1D1D;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3b3b; 
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #818181;
}


html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

body{
  background-color: #1D1D1D;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Varela Round', sans-serif;
 }


 /* container */
 .container {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
}

 /* header ↓ */ 
 .navbar{
  background-color: #1D1D1D;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 1920px;
  z-index: 1000;
  padding: 35px 8%;
 }

 .contatos{
  display: flex;
 }

 .contatos img{
   width: 37px;
   display: block;
 }

 .contatos .contatos-github{
  display: block;
}

 .contatos .contatos-linkedin{
  padding-left: 30px;
 }

.menu{
 display: flex;
 flex-direction: row;
 text-transform: uppercase;
 font-weight: bold;
}

.menu li{
  color: #9300FF;
  margin: 0px 25px;
}

.menu li a:hover{
  color: #5950617c;
}


 /* main ↓ */
.main{
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

 /*landpage*/
.landpage{
  width: auto;
  height: auto;
  padding-top: 270px;
  margin:  0px 150px;
 }

.landpage .tittle{
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
 }

.landpage .tittle h1{
   font-size: 95px;
   font-weight: 900;
 }

.landpage .tittle h1 #name{
  color: #9300FF;
}
.landpage .tittle h2{
  font-size: 22px;
  color: white;
  width: auto;
  height: auto;
}

.landpage .aboutme{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #383838;
  width: 100%;
  height: 650px;
  margin-top: 280px;
  border-radius: 50px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
}

.landpage .aboutme .aboutme-profile--tittle h1{
  color: #2c2c2c;
  opacity: 30%;
  font-weight: heavy;
  font-size: 170px;
  margin: 0px;
  text-transform: uppercase;
  padding-left: 30px;
}

.landpage .aboutme .aboutme-profile--text{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  text-align: center;
  color: #1D1D1D;
  width: 500px;
  height: 600px;
  font-size: 27px;
}

.landpage .aboutme .aboutme-profile--image{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 70px 100px;
  padding-top: 70px;
  padding-right: 120px;
}

.landpage .aboutme .aboutme-profile--image img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 1px 1px 90px #0000007c;
}


/*projects 1&2 area */
.projects1{
  display: flex;
  margin-top: 300px;
  justify-content: space-between;
  padding: 30px;
}

.projects1 .projects-titles{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #9300FF;
  margin-top: 30px;
}

.projects1 .projects-awax{
  display: flex;
  width: 300px;
  height: 500px;
  padding: 0px 10px;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  border-radius: 50px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
}

.projects1  img{
  width: 270px;
  height: 180px;
  margin-top: 20px;
  cursor: pointer;
  border: 3px #272727 solid;
  border-radius: 50px;
}

.projects1 .projects-subtitle{
  display: flex;
  text-align: center;
  margin: 35px 0px;
  font-size: 16px;
  line-height: 18px;
  padding: 0px 13px;
  color: #1D1D1D;
  font-weight: bold;
}

.projects1-calculator{
  display: flex;
  width: 300px;
  height: 500px;
  padding: 0px 10px;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  border-radius: 50px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
}

.projects1 .projects1-B7Burguer{
  display: flex;
  width: 300px;
  height: 500px;
  padding: 0px 10px;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  border-radius: 50px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
}

.projects2{
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  padding: 30px;
}

.projects2 .projects2-titles{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #9300FF;
  margin-top: 30px;
}

.projects2 img{
  width: 270px;
  height: 180px;
  margin-top: 20px;
  cursor: pointer;
  border: 3px #272727 solid;
  border-radius: 50px;
}

.projects2 .projects2-subtitle{
  display: flex;
  text-align: center;
  margin: 35px 0px;
  font-size: 16px;
  line-height: 18px;
  padding: 0px 13px;
  color: #1D1D1D;
  font-weight: bold;
}


.projects2 .projects2-mystarbucks{
  display: flex;
  width: 300px;
  height: 500px;
  padding: 0px 10px;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  border-radius: 50px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
}

.skills{
  display: flex;
  margin-top: 450px;
  flex-direction: column;
  align-items: center;
}

.skills .skills-tittle{
  display: flex;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 30px;
}

.skills-area{
  display: flex;
  width: 100%;
  height: 80px;
  color: #1D1D1D;
  align-items: center;
  justify-content: space-evenly;
}

.skills-area img{
  width: 50px;
  height: 50px;
}


.experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 450px;
  margin-bottom: 200px;
}

.experience h2{
  font-size: 22px;
  color: #9300FF;
  padding-bottom: 20px;
}

.experience img{
  width: 350px;
  height: 300px;
}



/*footer area*/
 .footer-area{
  font-size: 22px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 130px;
  padding-top: 7px;
  color: rgb(219, 219, 219);
  background-color: black;
 }


/*media-query area
 @media (max-width: 1600px) {

}

@media (max-width: 1440px) {


}

@media (max-width: 1280px){

}

@media (max-width: 1240px){

}

@media (max-width: 1080px){

}

@media (max-width: 1024px) {




}

@media (max-width: 959px) {
.footer-area{
  margin-top: 370px;
}

.landpage{
  margin-bottom: 200px;
}
}

@media (max-width: 945px) {
  .landpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .footer-area{
    margin-top: 200px;
}

  .landpage{
    margin-bottom: 100px;
  }

  .main-image{
    display: flex;
  }

  .main-image img{
    padding-top: 30px 30px;
  }
  
}

@media (max-width: 866px){
  .landpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .footer-area{
    margin-top: 200px;
}

  .landpage{
    margin-bottom: 100px;
  }

  .main-image{
    display: flex;
  }

  .main-image img{
    padding-top: 30px 30px;
  }
}

@media (max-width: 770px) {

  .main{
    justify-content: center;
  }

  footer .footer-area{
    margin-top: 200px;
  }
  
}

@media (max-width: 768px) {

  .landpage{
    padding: 0px;
  }

  .landpage .tittle{
    padding-top: 100px;
  }

  .main .landpage .main-image img{
    padding-top: 0px;
  }

  
  footer .footer-area{
    margin-top: 200px;
  }

  .navbar .contatos .contatos-github{
    margin-left: 61px;
  }

  .navbar .navbar-thememode{
     margin-right: 61px;
  }

}

@media (max-width: 576px) {

  .main .landpage{
    display: block;
    width: 600px;
    height: 602px;
  }
  
}

@media (max-width: 520px) {

  .main .landpage{
    width: 500px;
    height: 700px;
  }

  .main .landpage .tittle{
    padding-top: 60px;
    text-align: center;
  }

  .main .landpage .tittle h1 em .traco{
    width: 113px;
    height: 15px;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 425px) {
  .navbar{
    display: flex;
    
  }

  .summary{
    width: 350px;
    height: 600px;
  }
}

@media (max-width: 466px) {

  .navbar .contatos .contatos-github{
    margin-left: 61px;
  }

  .navbar .navbar-thememode{
     margin-right: 61px;
  }
}

@media (max-width: 390px){

  .main .landpage{
    width: 500px;
    height: 700px;
  }

  .main .landpage .tittle h1 {
    text-align: center;

  }

  .summary {
    width: 125px;
    height: 600px;
  }

  .navbar .contatos .contatos-github{
    margin-left: 30px;
  }

  .navbar .navbar-thememode{
    margin-right: 30px;
  }

}

@media (max-width: 375px){

  .landpage .tittle em{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 345px;
    align-items: center;
    font-size: 45px;
  }

  .landpage .main-image img{
    width: 220px;
    height: 187px;
  }

  .landpage{
    margin-bottom: 0px;
  }
}

@media (max-width: 320px){

}
*/